<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.8.18/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/custom.css}" media="all">
    <style>
        .icon-style {
            font-size: 20px;
            margin-right: 3px;
        }
        .table-bth:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs)  {
            height: 30px;
            line-height: 30px;
            padding: 0 16px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <th:block th:replace="view/system/menu/search::search_html"/>
            <div>
                <button class="layui-btn table-bth layui-btn-normal" style="" id="btn-add">新增</button>
                <button class="layui-btn table-bth layui-btn-warm" id="btn-export">导出</button>
                <button class="layui-btn table-bth layui-btn-danger" id="btn-query">删除</button>
            </div>
            <table id="menu-table" class="layui-table" lay-filter="menu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="icon">
    <i class="{{d.icon}}"></i>
</script>

<script th:src="@{/lib/layui-v2.8.18/layui.js}" charset="utf-8"></script>

<script th:inline="javascript">
    layui.use(function () {
        let $ = layui.jquery
        let layer = layui.layer
        let treeTable = layui.treeTable
        let form = layui.form;

        // 渲染表格
        let renderTable = treeTable.render({
            url: '/api/menu/list',
            method: 'post',
            contentType: 'application/json',
            dataType: 'json',
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "data": res.data
                }
            },
            tree: {
                customName: {
                    id: 'id',
                    pid: 'pid',
                    name: 'title'
                },
                data: {
                    isSimpleData: true,
                    rootPid: -1
                },
                view: {
                    flexIconOpen: '<i class="fa fa-caret-down icon-style"></i>',
                    flexIconClose: '<i class="fa fa-caret-right icon-style"></i>',
                    showIcon: false
                }
            },
            elem: '#menu-table',
            page: false,
            cols: [ [
                {type: 'numbers'},
                {type: 'checkbox'},
                {field: 'title', width: 200, title: '标题'},
                {field: 'icon', width: 50, title: '图标', templet: '#icon'},
                {field: 'authority', title: '权限标识'},
                {field: 'href', title: '菜单url'},
                {field: 'sort', width: 80, align: 'center', title: '排序'},
                {
                    field: 'type', width: 80, align: 'center', templet: function (menu) {
                        if (menu.type === 'MENU') {
                            return '<span class="layui-badge" style="background-color: #2a74ac;">目录</span>';
                        }
                        if (menu.type === 'PERMISSION') {
                            return '<span class="layui-badge" style="background-color: #197c24;">权限</span>';
                        }
                    }, title: '类型'
                },
                {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
            ] ],
            done: function () {
                layer.closeAll('loading');
            }
        });

        //监听工具条
        treeTable.on('tool(menu-table)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event;

            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
            }
            if (layEvent === 'edit') {
                layer.msg('修改' + data.id);
            }
        });

        // 搜索
        form.on('submit(table-search)', function(data){
            let title = $("input[name='title']").val().trim();
            // 执行搜索重载
            treeTable.reload('menu-table', {
                where: {
                    "title": title
                }
            });
            return false;
        });
    });
</script>
</body>
</html>