<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.8.18/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/js/lay-module/treeSelect/treeSelect.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/custom.css}" media="all">
    <style>
        .icon-style { font-size: 20px; margin-right: 3px; }
        .table-bth:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs)  {height: 30px;line-height: 30px;padding: 0 16px;}
        .add-or-update-form{margin: 40px 30px; }
        .layui-form-label{
            border-right: 12px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <th:block th:replace="view/system/menu/control::search_html"/>
            <table id="menu-table" class="layui-table" lay-filter="menu-table"></table>
        </div>
    </div>
</div>

<th:block th:replace="view/system/menu/control::add_or_update_html"/>

<th:block th:replace="view/system/menu/control::table_tool_bar"/>
<th:block th:replace="view/system/menu/control::table_line_operate"/>
<th:block th:replace="view/system/menu/control::title_icon"/>

<script th:src="@{/lib/layui-v2.8.18/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['jquery', 'layer', 'treeTable','form', 'treeSelect'], function () {
        let $ = layui.jquery
        let layer = layui.layer
        let treeTable = layui.treeTable
        let form = layui.form
        let treeSelect = layui.treeSelect

        let title = $("input[name='title']").val().trim()

        // 渲染树状搜索框
        console.log(treeSelect)
        treeSelect.render({
            elem: "#pid",
            data: [{ "id": 4, "title": "售后", "spread": true, "children": [{ "id": 6, "title": "售后进度", "spread": false, "children": null }, { "id": 5, "title": "售后类型", "spread": false, "children": null }] }, { "id": 3, "title": "经销商", "spread": true, "children": null }, { "id": 1, "title": "销售", "spread": true, "children": [{ "id": 2, "title": "订单类型", "spread": false, "children": null }] }],
            search: true
            // method: "GET",
            // datakey: "data"
        });

        // 渲染表格
        treeTable.render({
            url: '/api/menu/list',
            method: 'post',
            contentType: 'application/json',
            dataType: 'json',
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "data": res.data
                }
            },
            where: {
                'title': title
            },
            request: {
                pageName: 'pageSize',
                limitName: 'pageNo'
            },
            toolbar: '#table-tool-bar',
            defaultToolbar: [],
            tree: {
                customName: {
                    id: 'id',
                    pid: 'pid',
                    name: 'title'
                },
                data: {
                    isSimpleData: true,
                    rootPid: -1
                },
                view: {
                    flexIconOpen: '<i class="fa fa-caret-down icon-style"></i>',
                    flexIconClose: '<i class="fa fa-caret-right icon-style"></i>',
                    showIcon: false
                }
            },
            elem: '#menu-table',
            page: false,
            cols: [ [
                {type: 'numbers', title: '序号'},
                {type: 'checkbox'},
                {field: 'title', width: 200, title: '标题'},
                {field: 'icon', width: 50, title: '图标', templet: '#title_icon', align: 'center'},
                {field: 'authority', title: '权限标识'},
                {field: 'href', title: '菜单url'},
                {field: 'sort', width: 80, align: 'center', title: '排序'},
                {
                    field: 'type', width: 80, align: 'center', templet: function (menu) {
                        if (menu.type === 'MENU') {
                            return '<span class="layui-badge" style="background-color: #2a74ac;">目录</span>';
                        }
                        if (menu.type === 'PERMISSION') {
                            return '<span class="layui-badge" style="background-color: #197c24;">权限</span>';
                        }
                    }, title: '类型'
                },
                {templet: '#table-line-operate', width: 120, align: 'center', title: '操作'}
            ] ],
            done: function () {
                layer.closeAll('loading')
            }
        });

        // 搜索栏操作
        form.on('submit(table-search)', function(data){
            title = $("input[name='title']").val().trim();
            // 执行搜索重载
            treeTable.reload('menu-table', {
                where: {
                    "title": title
                }
            });
            return false
        })

        // 工具栏操作
        treeTable.on('toolbar(menu-table)', function (obj) {
            if (obj.event === 'add') {
                let index = layer.open({
                    title: ['添加菜单', 'font-size: 20px;'],
                    type: 1,
                    shade: 0.2,
                    resize: false,
                    content: $('#add_or_update'),
                })
            }
            if (obj.event === 'delete') {
                let checkStatus = treeTable.checkStatus('menu-table')
                let data = checkStatus.data
            }
        })

        // 单行数据操作
        treeTable.on('tool(menu-table)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event;

            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
            }
            if (layEvent === 'edit') {
                layer.msg('修改' + data.id);
            }
        })


    });
</script>
</body>
</html>