<div th:fragment="search_html">
    <form class="layui-form layui-row layui-col-space16">
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <input type="text" name="title" value="" placeholder="菜单标题" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-btn-container layui-col-md8">
            <button class="layui-btn" lay-submit lay-filter="table-search">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>