<!-- 搜索功能 -->
<div th:fragment="search_html">
    <form class="layui-form layui-row layui-col-space16">
        <div class="layui-col-md3">
            <div class="layui-input-wrap">
                <input type="text" name="usernameSearch" value="" placeholder="用户名" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-input-wrap">
                <input type="text" name="realNameSearch" value="" placeholder="真实姓名" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-input-wrap">
                <input type="text" name="nicknameSearch" value="" placeholder="昵称" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-input-wrap">
                <select lay-affix="clear" name="genderSearch">
                    <option value="" selected>请选择性别</option>
                    <option value="MALE">男</option>
                    <option value="FEMALE">女</option>
                    <option value="SECRECY">保密</option>
                </select>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-input-wrap">
                <input type="text" name="mobileSearch" value="" placeholder="手机号码" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-input-wrap">
                <input type="text" name="emailSearch" value="" placeholder="邮箱地址" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-btn-container layui-col-md6">
            <button class="layui-btn layui-btn-primary layui-border-blue" lay-submit lay-filter="table-search">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>

<!-- 单行表格数据操作功能 -->
<script type="text/html" id="table-line-operate" th:fragment="table_line_operate">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表格工具栏功能 -->
<script type="text/html" id="table-tool-bar" th:fragment="table_tool_bar">
    <button class="layui-btn table-bth layui-btn-primary layui-border-blue" lay-event="add" >新增</button>
    <button class="layui-btn table-bth layui-btn-primary layui-border-red" lay-event="delete" >删除</button>
</script>

<!-- 表格启用禁用状态 -->
<script type="text/html" id="status_switch"  th:fragment="status_switch" th:inline="none">
    <input type="checkbox" name="status" value="{{= d.id }}" title="启用|禁用" lay-skin="switch" lay-filter="form-status" {{= d.status ? "checked" : "" }}>
</script>

<!-- 表格启用禁用状态 -->
<script type="text/html" id="avatar_template"  th:fragment="avatar_template" th:inline="none">
    {{#  if(d.avatar){ }}
        <img src="{{= d.avatar }}" style="width: 25px; height: 25px; border-radius: 50%;" alt="">
    {{#  } else { }}

    {{#  } }}
</script>

<!-- 表格启用禁用状态 -->
<script type="text/html" id="gender_template"  th:fragment="gender_template" th:inline="none">
    {{#  if(d.gender === 'MALE'){ }}
        <span>男</span>
    {{#  } else if(d.gender === 'FEMALE') { }}
        <span>女</span>
    {{#  } else { }}
        <span>保密</span>
    {{#  } }}
</script>

<!-- 新增或编辑数据功能 -->
<div th:fragment="add_or_update_html" id="add_or_update" style="display: none">
    <form class="layui-form add-or-update-form" action="" lay-filter="add_or_update">
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <input type="text" name="id" id="form-id" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-username"><span class="required-tag">*</span>用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" id="form-username" lay-verify="required" lay-msg="用户名不能为空" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-password"><span class="required-tag">*</span>用户密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" id="form-password" lay-verify="required" lay-msg="用户密码不能为空" placeholder="请输入用户密码" autocomplete="off" class="layui-input">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-gender"><span class="required-tag">*</span>用户性别</label>
            <div class="layui-input-block">
                <select lay-affix="clear" lay-verify="required" name="gender" id="form-gender" lay-msg="用户性别不能为空">
                    <option value="" selected>请选择性别</option>
                    <option value="MALE">男</option>
                    <option value="FEMALE">女</option>
                    <option value="SECRECY">保密</option>
                </select>
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-realName">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="realName" id="form-realName" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-email">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" id="form-email" lay-verify="email" lay-msg="邮箱格式错误" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-mobile">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" id="form-mobile" lay-verify="phone" lay-msg="手机号码格式错误" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-nickname">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" id="form-nickname" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户角色</label>
            <div id="role_transfer" class="layui-input-block"></div>
        </div>

        <div style="text-align: right; margin-top: 20px">
            <button type="button" id="cancel-btn" class="layui-btn table-bth layui-btn-primary">取消</button>
            <button type="button" id="add-btn" class="layui-btn table-bth layui-btn-normal" >添加</button>
            <button type="button" id="update-btn" class="layui-btn table-bth layui-btn-normal layui-hide">修改</button>
        </div>
    </form>
</div>