<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.8.18/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/custom.css}" media="all">
    <style>
        .table-bth:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs)  {height: 30px; line-height: 30px;padding: 0 16px;}
        .add-or-update-form{margin: 40px 30px; }
        .layui-form-label{
            border-right: 12px;
            width: 70px;
        }
        .layui-input-block { margin-left: 108px; }

        .layui-icon-file::before { content: ""; }
        .layui-tree-iconClick { width: 15px; }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <th:block th:replace="view/admin/user/control::search_html"/>
            <table id="user-table" class="layui-table" lay-filter="user-table"></table>
        </div>
    </div>
</div>

<th:block th:replace="view/admin/user/control::add_or_update_html"/>
<th:block th:replace="view/admin/user/control::table_tool_bar"/>
<th:block th:replace="view/admin/user/control::table_line_operate"/>
<th:block th:replace="view/admin/user/control::status_switch"/>
<th:block th:replace="view/admin/user/control::avatar_template"/>
<th:block th:replace="view/admin/user/control::gender_template"/>

<script th:src="@{/lib/layui-v2.8.18/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-constant.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-validate.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['jquery', 'layer', 'form', 'table', 'transfer'],
        function () {
            const $ = layui.jquery
            const layer = layui.layer
            const form = layui.form
            const table = layui.table;
            const transfer = layui.transfer;

            const addBtn = $('#add-btn')
            const updateBtn = $('#update-btn')
            const cancelBtn = $('#cancel-btn')
            const usernameInput = $('#form-username')
            const passwordInput = $('#form-password')

            let addOrUpdatePageIndex = null;
            let transferData = [];
            let transferSelectData = [];

            transfer.render({
                elem: '#role_transfer',
                id: 'role_transfer',
                title: ['未选择角色', '已选择角色'],
                height: 248,
                data: transferData
            });

            table.render({
                elem: '#user-table',
                url: '/api/admin/user/list',
                method: 'post',
                where: getWhereCondition(),
                contentType: 'application/json',
                headers: {
                    'Accept': 'application/json'
                },
                request: {
                    pageName: 'current',
                    limitName: 'size'
                },
                parseData: function (res) {
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.data.total,
                        "data": res.data.records
                    };
                },
                toolbar: '#table-tool-bar',
                defaultToolbar: [],
                css: [
                    '.layui-table-tool-temp{padding-right: 145px;}'
                ].join(''),
                cellMinWidth: 80,
                page: true,
                cols: [ [
                    {type: 'numbers', title: '序号'},
                    {type: 'checkbox'},
                    {field: 'username', width: 120, title: '用户名', align: 'center'},
                    {field: 'realName', width: 120, title: '真实姓名', align: 'center'},
                    {field: 'nickname', width: 120, title: '昵称', align: 'center'},
                    {field: 'avatar', width: 80, title: '头像', align: 'center', templet: '#avatar_template'},
                    {field: 'gender', width: 80, title: '性别', align: 'center', templet: '#gender_template'},
                    {field: 'email', title: '邮箱地址', align: 'center'},
                    {field: 'mobile', width:120, title: '手机号码', align: 'center'},
                    {field: 'status', width: 100, align: 'center', templet: '#status_switch', title: '状态'},
                    {field: 'createTime', width: 180, align: 'center', title: '创建时间'},
                    {templet: '#table-line-operate', width: 120, align: 'center', title: '操作'}
                ] ],
            })

            /**
             * 监听表格数据筛选事件
             */
            form.on('submit(table-search)', function (data) {
                reloadTable()
                return false
            })

            /**
             * 监听表头工具栏事件
             */
            table.on('toolbar(user-table)', function (obj) {
                if (obj.event === 'add') {
                    clearVerify()
                    reloadTransfer()
                    usernameInput.parents('.layui-form-item').css('display', 'block');
                    passwordInput.parents('.layui-form-item').css('display', 'block');
                    addBtn.removeClass('layui-hide')
                    updateBtn.addClass('layui-hide')
                    form.val('add_or_update', {
                        "username": '',
                        "password": '',
                        "realName": '',
                        "nickname": '',
                        "gender": '',
                        "email": '',
                        "mobile": '',
                    })
                    addOrUpdatePageIndex = layer.open({
                        title: ['添加用户', 'font-size: 20px;'],
                        type: 1,
                        shade: 0.2,
                        area: ['auto', '600px'],
                        resize: false,
                        content: $('#add_or_update'),
                        cancel: function(index){
                            $('#add_or_update').css('display', 'none')
                            layer.close(index);
                        }
                    })
                }
                if (obj.event === 'delete') {
                    let checkStatus = table.checkStatus('user-table')
                    let data = checkStatus.data
                    if (data.length === 0) {
                        layer.msg('请选择要删除的数据', {icon: 0});
                        return
                    }
                    let ids = []
                    data.forEach(item => {
                        ids.push(item.id)
                    })
                    deleteBatch(ids)
                }
            })

            /**
             * 监听行工具栏事件
             */
            table.on('tool(user-table)', function (obj) {
                let data = obj.data;
                let layEvent = obj.event;

                if (layEvent === 'del') {
                    deleteBatch([data.id])
                }
                if (layEvent === 'edit') {
                    clearVerify()
                    usernameInput.parents('.layui-form-item').css('display', 'none');
                    passwordInput.parents('.layui-form-item').css('display', 'none');
                    updateBtn.removeClass('layui-hide')
                    addBtn.addClass('layui-hide')
                    $.ajax({
                        url: '/api/admin/user/detail',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'Accept': 'application/json'
                        },
                        data: JSON.stringify({
                            key: data.id,
                        }),
                        success: function (response) {
                            if (response.code === web_status.SUCCESS) {
                                form.val('add_or_update', {
                                    "id": response.data.id,
                                    "gender": response.data.gender,
                                    "realName": response.data.realName,
                                    "nickname": response.data.nickname,
                                    "email": response.data.email,
                                    "mobile": response.data.mobile
                                });
                                reloadTransfer(response.data.roleIds)
                                addOrUpdatePageIndex = layer.open({
                                    title: ['修改用户', 'font-size: 20px;'],
                                    type: 1,
                                    shade: 0.2,
                                    area: ['auto', '600px'],
                                    resize: false,
                                    content: $('#add_or_update'),
                                    cancel: function(index){
                                        $('#add_or_update').css('display', 'none')
                                        layer.close(index);
                                    }
                                })
                            } else {
                                layer.msg(response.msg, {icon: 5});
                            }
                        },
                        error: function (xhr, status, error) {
                            layer.msg(xhr.responseJson.error, {icon: 5});
                        }
                    })
                }
            })

            /**
             * 调整用户状态
             */
            form.on('switch(form-status)', function (obj) {
                const id = this.value;
                $.ajax({
                    url: '/api/admin/user/change/status',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({
                        id: id,
                        status: obj.elem.checked
                    }),
                    success: function (response) {
                        if (response.code === web_status.SUCCESS) {
                            layer.msg(response.msg, {icon: 1});
                        } else {
                            layer.msg(response.msg, {icon: 5});
                        }
                    },
                        error: function (xhr, status, error) {
                        layer.msg("网络异常", {icon: 5});
                        reloadTable()
                    }
                })
            })

            /**
             * 自定义表单校验规则
             */
            form.verify({
                required: requiredValidate,
                email: emailValidate,
                phone: phoneValidate
            })

            addBtn.on('click', () => {
                let validate = true;
                addBtn.closest('.layui-form').find('*[lay-verify]').each(function () {
                    if (!form.validate(this)) {
                        validate = false
                    }
                })
                if (!validate) {
                    return
                }
                let data = form.val('add_or_update')
                $.ajax({
                    url: '/api/admin/user/save',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({
                        username: data.username,
                        password: data.password,
                        realName: data.realName,
                        nickname: data.nickname,
                        gender: data.gender,
                        email: data.email,
                        mobile: data.mobile,
                        roleIds: transfer.getData('role_transfer').map(item => {
                            return item.value
                        })
                    }),
                    success: function (response) {
                        if (response.code === web_status.SUCCESS) {
                            layer.msg(response.msg, {icon: 1})
                            layer.close(addOrUpdatePageIndex)
                            $('#add_or_update').css('display', 'none')
                            reloadTable()
                        } else {
                            layer.msg(response.msg, {icon: 5})
                        }
                    },
                    error: function (xhr, status, error) {
                        layer.msg(xhr.responseJson, {icon: 5})
                    }
                })

            })
            updateBtn.on('click', () => {
                let data = form.val('add_or_update')
                $.ajax({
                    url: '/api/admin/user/edit',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({
                        id: data.id,
                        realName: data.realName,
                        nickname: data.nickname,
                        gender: data.gender,
                        email: data.email,
                        mobile: data.mobile,
                        roleIds: transfer.getData('role_transfer').map(item => {
                            return item.value
                        })
                    }),
                    success: function (response) {
                        if (response.code === web_status.SUCCESS) {
                            layer.msg(response.msg, {icon: 1})
                            layer.close(addOrUpdatePageIndex)
                            $('#add_or_update').css('display', 'none')
                            reloadTable()
                        } else {
                            layer.msg(response.msg, {icon: 5});
                        }
                    },
                    error: function (xhr, status, error) {
                        layer.msg(xhr.responseJson, {icon: 5});
                    }
                })
            })
            cancelBtn.on('click', () => {
                $('#add_or_update').css('display', 'none')
                layer.close(addOrUpdatePageIndex);
            })

            /**
             * 批量删除用户
             * @param ids 用户的ID列表
             */
            function deleteBatch(ids) {
                layer.confirm('确定删除此用户吗？', {
                    btn: ['确定', '关闭']
                }, function () {
                    $.ajax({
                        url: '/api/admin/user/delete',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'Accept': 'application/json'
                        },
                        data: JSON.stringify({
                            keys: ids
                        }),
                        success: function (response) {
                            if (response.code === web_status.SUCCESS) {
                                layer.msg(response.msg, {icon: 1});
                                reloadTable()
                            } else {
                                layer.msg(response.msg, {icon: 5});
                            }
                        },
                        error: function (xhr, status, error) {
                            layer.msg(xhr.responseJson, {icon: 5});
                        }
                    })
                }, function () {
                })
            }

            /**
             * 重载表格
             */
            function reloadTable() {
                // 执行搜索重载
                table.reloadData('user-table', {
                    where: getWhereCondition()
                });
            }

            /**
             * 清除表单验证
             */
            function clearVerify() {
                addBtn.closest('.layui-form').find('*[lay-verify]').each(function () {
                    $(this).removeClass('error-form-item layui-form-danger')
                    $(this).nextAll(".error-msg").empty()
                })
            }

            function getWhereCondition() {
                let username = $("input[name='usernameSearch']").val().trim()
                let realName = $("input[name='realNameSearch']").val().trim()
                let nickname = $("input[name='nicknameSearch']").val().trim()
                let gender = $("select[name='genderSearch']").val().trim()
                let mobile = $("input[name='mobileSearch']").val().trim()
                let email = $("input[name='emailSearch']").val().trim()
                return {
                    username,
                    realName,
                    nickname,
                    gender,
                    mobile,
                    email
                }
            }

            function reloadTransfer(ids = []) {
                transfer.reload('role_transfer', {
                    data: transferData,
                    value: ids
                })
            }

            // 加载数据后重载穿梭框
            function getTransferData() {
                $.ajax({
                    url: '/api/admin/role/transfer',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    success: function (response) {
                        if (response.code === web_status.SUCCESS) {
                            let data = response.data
                            data.forEach(item => {
                                transferData.push({
                                    value: item.id,
                                    title: item.roleName,
                                    checked: false
                                })
                            })
                        } else {
                            layer.msg(response.msg, {icon: 5});
                        }
                    },
                    error: function (xhr, status, error) {
                        layer.msg(xhr.responseJson, {icon: 5});
                    }
                })
            }
            getTransferData()

        })
</script>
</body>
</html>