<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.manager.module.admin.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.community.manager.module.admin.domain.entity.RoleMenu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,menu_id,
        create_by,update_by,create_time,
        update_time
    </sql>


    <select id="getMenusByRoleIds" resultType="com.community.manager.module.admin.domain.entity.Menu">
        select
            <include refid="com.community.manager.module.admin.mapper.MenuMapper.Menu_Column_List"/>
        from t_menu m
            <if test="!isSuperAdmin">
                , t_role_menu rm, t_role r
            </if>
        where m.status = 1
            <if test="menuType != null">
                and m.type = #{menuType}
            </if>
            <if test="!isSuperAdmin">
                and r.status = 1
                and r.id = rm.role_id
                and m.id = rm.menu_id
                and rm.role_id in
                <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
            </if>
        order by m.pid, m.sort
    </select>

</mapper>
