<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/lib/layui-v2.8.18/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/custom.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form" id="rePasswordForm">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="required-tag">*</span>旧的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="old_password" lay-verify="required" lay-msg="请输入密码"
                           placeholder="请输入旧的密码" class="layui-input">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="required-tag">*</span>新的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="new_password" lay-verify="required" lay-equals="again_password" lay-msg="请输入新密码"
                           placeholder="请输入新的密码" class="layui-input">
                    <span class="error-msg"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="required-tag">*</span>重复输入密码</label>
                <div class="layui-input-block">
                    <input type="password" name="again_password" lay-verify="againValue|required" lay-msg="请再次输入新密码"
                           placeholder="请再次输入新的密码" class="layui-input">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.8.18/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-constant.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-validate.js}" charset="utf-8"></script>
<script>
    layui.use(['form','miniTab'], function () {
        const form = layui.form,
            layer = layui.layer;

        form.verify({
            required: requiredValidate,
            againValue: againValueValidate
        })

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            let validate = true;
            $('#rePasswordForm').find('*[lay-verify]').each(function () {
                if (!form.validate(this)) {
                    validate = false
                }
            })
            if (!validate) {
                return false
            }
            let oldPassword = $("input[name='old_password']").val().trim();
            let newPassword = $("input[name='new_password']").val().trim();

            $.ajax({
                url: "/admin/user/config/rePassword",
                type: "post",
                contentType: "application/json",
                headers: {
                    'Accept': 'application/json'
                },
                data: JSON.stringify({
                    oldPassword,
                    newPassword
                }),
                success: function(response) {
                    if (response.code === 0) {
                        layer.msg('修改成功', {
                            icon: 1,
                            time: 500
                        })
                    } else {
                        layer.msg(response.msg);
                    }
                },
                error: function (xhr, status, error){
                    layer.msg(error)
                }
            })
            return false
        })

    });
</script>
</body>
</html>