<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/lib/layui-v2.8.18/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/custom.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form" lay-filter="userInfoForm">
            <div class="layui-form-item">
                <label class="layui-form-label" for="form-realName">真实姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="realName" id="form-realName" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="form-email">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" id="form-email" lay-verify="email" lay-msg="邮箱格式错误" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="form-mobile">手机号码</label>
                <div class="layui-input-block">
                    <input type="text" name="mobile" id="form-mobile" lay-verify="phone" lay-msg="手机号码格式错误" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="form-gender"><span class="required-tag">*</span>用户性别</label>
                <div class="layui-input-block">
                    <select lay-affix="clear" lay-verify="required" name="gender" id="form-gender" lay-msg="用户性别不能为空">
                        <option value="" selected>请选择性别</option>
                        <option value="MALE">男</option>
                        <option value="FEMALE">女</option>
                        <option value="SECRECY">保密</option>
                    </select>
                    <span class="error-msg"></span>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="form-nickname">昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nickname" id="form-nickname" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                    <span class="error-msg"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button lay-submit lay-filter="updateBtn" class="layui-btn table-bth layui-btn-normal">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.8.18/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-constant.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-validate.js}" charset="utf-8"></script>
<script>
    layui.use(['form','miniTab'], function () {
        const form = layui.form,
            layer = layui.layer,
            miniTab = layui.miniTab;

        form.verify({
            required: requiredValidate,
            email: emailValidate,
            phone: phoneValidate
        })



        //监听提交
        form.on('submit(updateBtn)', function (data) {
            let validate = true;
            $('#updateForm').find('*[lay-verify]').each(function () {
                if (!form.validate(this)) {
                    validate = false
                }
            })
            if (!validate) {
                return false
            }

            let realName = $("input[name='realName']").val().trim();
            let nickname = $("input[name='nickname']").val().trim();
            let gender = $("select[name='gender']").val().trim();
            let email = $("input[name='email']").val().trim();
            let mobile = $("input[name='mobile']").val().trim();

            $.ajax({
                url: "/admin/user/update/info",
                type: "post",
                contentType: "application/json",
                data: JSON.stringify({
                    realName,
                    nickname,
                    gender,
                    email,
                    mobile,
                }),
                headers: {
                    'Accept': 'application/json'
                },
                success: function(response) {
                    if (response.code === 0) {
                        layer.msg('修改成功', {
                            icon: 1,
                            time: 500
                        })
                    } else {
                        layer.msg(response.msg);
                    }
                    initUserInfo()
                },
                error: function (xhr, status, error){
                    layer.msg(error)
                    initUserInfo()
                }
            })
            return false
        })

        function initUserInfo(){
            $.ajax({
                url: "/admin/user/info",
                type: "post",
                contentType: "application/json",
                headers: {
                    'Accept': 'application/json'
                },
                success: function(response) {
                    if (response.code === 0) {
                        form.val('userInfoForm', {
                            "realName": response.data.realName,
                            "nickname": response.data.nickname,
                            "gender": response.data.gender,
                            "email": response.data.email,
                            "mobile": response.data.mobile
                        })
                    } else {
                        layer.msg(response.msg);
                    }
                },
                error: function (xhr, status, error){
                    layer.msg(error)
                }
            })
        }
        initUserInfo()

    })
</script>
</body>
</html>