<!-- 搜索功能 -->
<div th:fragment="search_html">
    <form class="layui-form layui-row layui-col-space16">
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <input type="text" name="title" value="" placeholder="菜单标题" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-btn-container layui-col-md8">
            <button class="layui-btn" lay-submit lay-filter="table-search">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>

<!-- 单行表格数据操作功能 -->
<script type="text/html" id="table-line-operate" th:fragment="table_line_operate">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表格工具栏功能 -->
<script type="text/html" id="table-tool-bar" th:fragment="table_tool_bar">
    <button class="layui-btn table-bth layui-btn-normal" lay-event="add" >新增</button>
    <button class="layui-btn table-bth layui-btn-warm" lay-event="export" >导出</button>
    <button class="layui-btn table-bth layui-btn-danger" lay-event="delete" >删除</button>
</script>

<!-- 表格图标 -->
<script type="text/html" id="title_icon" th:fragment="title_icon">
    <i class="{{d.icon}}"></i>
</script>

<!-- 表格启用禁用状态 -->
<script type="text/html" id="status_switch"  th:fragment="status_switch" th:inline="none">
    <input type="checkbox" name="status" value="{{= d.id }}" title="启用|禁用" lay-skin="switch" lay-filter="form-status" {{= d.status ? "checked" : "" }}>
</script>

<!-- 新增或编辑数据功能 -->
<div th:fragment="add_or_update_html" id="add_or_update" style="display: none">
    <form class="layui-form add-or-update-form" action="" lay-filter="add_or_update">
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <input type="text" name="id" id="form-id" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-title">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="form-title" lay-verify="required" placeholder="请输入菜单标题" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-pid">父级菜单</label>
            <div class="layui-input-block">
                <input type="text" id="form-pid" name="pid" placeholder="请选择上级分类" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="form-icon">菜单图标</label>
            <div class="layui-input-block">
                <input type="text" name="icon" id="form-icon" placeholder="请选菜单图标" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div id="icon-picker"></div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="form-authority">权限标识</label>
            <div class="layui-input-block">
                <input type="text" name="authority" id="form-authority" placeholder="请输入权限标识" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="form-href">路由地址</label>
            <div class="layui-input-block" id="">
                <input type="text" name="href" id="form-href" placeholder="请输入菜单URL" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="form-target">打开方式</label>
            <div class="layui-input-block">
                <select name="target" id="form-target">
                    <option value="_self" selected>当前页面</option>
                    <option value="_blank">新页面</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="form-type">菜单类型</label>
            <div class="layui-input-block">
                <select name="type" id="form-type" lay-filter="form-type">
                    <option value="MENU" selected>菜单</option>
                    <option value="PERMISSION">权限</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="form-sort">菜单顺序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" id="form-sort" autocomplete="off" class="layui-input" min="0" step="1" lay-affix="number">
            </div>
        </div>

        <div style="text-align: right; margin-top: 20px">
            <button type="button" id="cancel-btn" class="layui-btn table-bth layui-btn-primary">取消</button>
            <button type="button" id="add-btn" class="layui-btn table-bth layui-btn-normal" >添加</button>
            <button type="button" id="update-btn" class="layui-btn table-bth layui-btn-normal layui-hide">修改</button>
        </div>
    </form>
</div>