<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.8.18/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/js/lay-module/treeSelect/treeSelect.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/custom.css}" media="all">
    <style>
        .icon-style { font-size: 20px; margin-right: 3px; }
        .table-bth:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs)  {height: 30px;line-height: 30px;padding: 0 16px;}
        .add-or-update-form{margin: 40px 30px; }
        .layui-form-label{
            border-right: 12px;
            width: 60px;
        }
        .layui-input-block{
            margin-left: 98px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <th:block th:replace="view/admin/menu/control::search_html"/>
            <table id="menu-table" class="layui-table" lay-filter="menu-table"></table>
        </div>
    </div>
</div>



<th:block th:replace="view/admin/menu/control::add_or_update_html"/>

<th:block th:replace="view/admin/menu/control::table_tool_bar"/>
<th:block th:replace="view/admin/menu/control::table_line_operate"/>
<th:block th:replace="view/admin/menu/control::title_icon"/>
<th:block th:replace="view/admin/menu/control::status_switch"/>

<script th:src="@{/lib/layui-v2.8.18/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/twocats-constant.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['jquery', 'layer', 'treeTable','form', 'treeSelect', 'iconPickerFa'], function () {
        const $ = layui.jquery
        const layer = layui.layer
        const treeTable = layui.treeTable
        const form = layui.form
        const treeSelect = layui.treeSelect
        const iconPicker = layui.iconPickerFa

        const addBtn = $('#add-btn')
        const updateBtn = $('#update-btn')
        const cancelBtn = $('#cancel-btn')
        const pidSelected = $('#form-pid')
        const iconPickerSelected = $('#form-icon')
        const targetSelected = $('#form-target')
        const hrefSelected = $('#form-href')

        let title = $("input[name='title']").val().trim()
        let addOrUpdatePageIndex = null;

        // 渲染图标选择器
        iconPicker.render({
            elem: '#form-icon',
            url: "/lib/font-awesome-4.7.0/less/variables.less",
            search: true,
            page: true,
            limit: 24
        });

        // 渲染树状搜索框
        function renderTreeSelect() {
            treeSelect.render({
                elem: "#form-pid",
                search: true,
                method: "POST",
                url: '/api/parent/menu',
                customName: {
                    id: 'id',
                    title: 'title',
                    children: 'child'
                },
                text: {
                    defaultNodeName: '顶级菜单'
                },
                dataKey: 'data'
            })
        }
        renderTreeSelect()

        // 渲染表格
        treeTable.render({
            url: '/api/menu/list',
            method: 'post',
            contentType: 'application/json',
            dataType: 'json',
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "data": res.data
                }
            },
            where: {
                'title': title
            },
            request: {
                pageName: 'pageSize',
                limitName: 'pageNo'
            },
            toolbar: '#table-tool-bar',
            defaultToolbar: [],
            tree: {
                customName: {
                    id: 'id',
                    pid: 'pid',
                    name: 'title',
                    children: 'child'
                },
                view: {
                    flexIconOpen: '<i class="fa fa-caret-down icon-style"></i>',
                    flexIconClose: '<i class="fa fa-caret-right icon-style"></i>',
                    showIcon: false,
                    expandAllDefault: true,
                    dblClickExpand: false
                },
                data: {
                    cascade: 'children'
                }
            },
            elem: '#menu-table',
            page: false,
            cols: [ [
                {type: 'numbers', title: '序号'},
                {type: 'checkbox'},
                {field: 'title', width: 200, title: '标题'},
                {field: 'icon', width: 50, title: '图标', templet: '#title_icon', align: 'center'},
                {field: 'authority', title: '权限标识'},
                {field: 'href', title: '菜单url'},
                {
                    field: 'target', width: 100, align: 'center', templet: function (menu) {
                        if (menu.target === '_self') {
                            return '<span class="layui-badge" style="background-color: #63bafa;">当前窗口</span>';
                        }else if (menu.target === '_blank') {
                            return '<span class="layui-badge" style="background-color: #ff5979;">新窗口</span>';
                        }else {
                            return '<span></span>'
                        }
                    }, title: '打开方式'
                },
                { field: 'status', width: 100, align: 'center', templet: '#status_switch', title: '状态' },
                { field: 'sort', width: 80, align: 'center', title: '排序'},
                {
                    field: 'type', width: 80, align: 'center', templet: function (menu) {
                        if (menu.type === 'MENU') {
                            return '<span class="layui-badge" style="background-color: #2a74ac;">菜单</span>';
                        }
                        if (menu.type === 'PERMISSION') {
                            return '<span class="layui-badge" style="background-color: #bb2d7d;">权限</span>';
                        }
                    }, title: '类型'
                },
                {field: 'createTime', width:180, align: 'center', title: '创建时间'},
                {templet: '#table-line-operate', width: 120, align: 'center', title: '操作'}
            ] ],
            done: function () {
                layer.closeAll('loading')
            }
        });

        // 搜索栏操作
        form.on('submit(table-search)', function(data){
            title = $("input[name='title']").val().trim();
            // 执行搜索重载
            treeTable.reload('menu-table', {
                where: {
                    "title": title
                }
            });
            return false
        })

        // 工具栏操作
        treeTable.on('toolbar(menu-table)', function (obj) {
            if (obj.event === 'add') {
                addBtn.removeClass('layui-hide')
                updateBtn.addClass('layui-hide')
                form.val('add_or_update', {
                    "title": '',
                    "pid": null,
                    "authority": '',
                    "href": '',
                    "target": '',
                    "type": '',
                    "sort": 0,
                    "icon": "fa fa-adjust"
                });
                pidSelected.change()
                addOrUpdatePageIndex = layer.open({
                    title: ['添加菜单', 'font-size: 20px;'],
                    type: 1,
                    shade: 0.2,
                    area: ['460px', 'auto'],
                    resize: false,
                    content: $('#add_or_update'),
                })
            }
            if (obj.event === 'export') {
                layer.msg('导出数据', {icon: 0});
            }
            if (obj.event === 'delete') {
                let checkStatus = treeTable.checkStatus('menu-table')
                let data = checkStatus.data
                if (data.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 0});
                    return
                }
                let ids = []
                data.forEach(item => {
                    ids.push(item.id)
                })
                deleteBatch(ids)
            }
        })

        // 单行数据操作
        treeTable.on('tool(menu-table)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event;

            if (layEvent === 'del') {
                deleteRow(data.id)
            }
            if (layEvent === 'edit') {
                updateBtn.removeClass('layui-hide')
                addBtn.addClass('layui-hide')
                $.ajax({
                    url: '/api/menu/detail',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({
                        key: data.id,
                    }),
                    success: function(response) {
                        if (response.code === web_status.SUCCESS) {
                            form.val('add_or_update', {
                                "id": response.data.id,
                                "title": response.data.title,
                                "pid": response.data.pid,
                                "authority": response.data.authority,
                                "href": response.data.href,
                                "target": response.data.target,
                                "type": response.data.type,
                                "sort": response.data.sort
                            });
                            addOrUpdatePageIndex = layer.open({
                                title: ['修改菜单', 'font-size: 20px;'],
                                type: 1,
                                shade: 0.2,
                                area: ['460px', 'auto'],
                                resize: false,
                                content: $('#add_or_update'),
                            })
                            pidSelected.val(response.data.pid)
                            pidSelected.change()

                            let iconClass = response.data.icon.replace('fa ', '')
                            iconPickerSelected.attr('value', iconClass);
                            iconPickerSelected.next().find('span').find('i').removeClass().addClass(response.data.icon)
                        } else {
                            layer.msg(response.msg, {icon: 5});
                        }
                    },
                    error: function(xhr, status, error) {
                        layer.msg(xhr.responseJson.error, {icon: 5});
                    }
                })
            }
        })

        form.on('switch(form-status)', function(obj){
            const id = this.value;
            const dataId = $(this).parent().parent().parent().attr('data-index')
            $.ajax({
                url: '/api/menu/change/status',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'Accept': 'application/json'
                },
                data: JSON.stringify({
                    id: id,
                    status: obj.elem.checked
                }),
                success: function(response) {
                    if (response.code === web_status.SUCCESS){
                        layer.msg(response.msg,  {icon: 1});
                    }else {
                        layer.msg(response.msg,  {icon: 5});
                    }
                },
                error: function(xhr, status, error) {
                    layer.msg("网络异常",  {icon: 5});
                    setTimeout(() => {
                        title = $("input[name='title']").val().trim();
                        // 执行搜索重载
                        treeTable.reloadData('menu-table', {
                            where: {
                                "title": title
                            }
                        });
                    }, 350)
                }
            })
        });

        form.on('select(form-type)', function (data) {
            const selectedValue = data.value;
            if (selectedValue === '' || selectedValue === undefined || selectedValue === 'MENU'){
                iconPickerSelected.parents('.layui-form-item').css('display', 'block');
                targetSelected.parents('.layui-form-item').css('display', 'block');
                hrefSelected.parents('.layui-form-item').css('display', 'block');
            }else if (selectedValue === 'PERMISSION'){
                iconPickerSelected.parents('.layui-form-item').css('display', 'none');
                targetSelected.parents('.layui-form-item').css('display', 'none');
                hrefSelected.parents('.layui-form-item').css('display', 'none');
            }
        })

        updateBtn.click(() => {
            let data = form.val('add_or_update')
            $.ajax({
                url: '/api/menu/edit',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'Accept': 'application/json'
                },
                data: JSON.stringify({
                    id: data.id,
                    title: data.title,
                    pid: data.pid,
                    icon: data.icon.includes('fa ') ? data.icon : ('fa ' + data.icon),
                    authority: data.authority,
                    href: data.href,
                    target: data.target,
                    type: data.type,
                    sort: data.sort
                }),
                success: function(response) {
                    if (response.code === web_status.SUCCESS){
                        layer.msg(response.msg,  {icon: 1})
                        layer.close(addOrUpdatePageIndex);
                        title = $("input[name='title']").val().trim()
                        treeTable.reload('menu-table', {
                            where: {
                                "title": title
                            }
                        })
                        renderTreeSelect()
                    }else {
                        layer.msg(response.msg,  {icon: 5});
                    }
                },
                error: function(xhr, status, error) {
                    layer.msg("网络异常",  {icon: 5});
                }
            })
        })

        addBtn.click(() => {
            let data = form.val('add_or_update')
            $.ajax({
                url: '/api/menu/save',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'Accept': 'application/json'
                },
                data: JSON.stringify({
                    title: data.title,
                    pid: data.pid,
                    icon: data.icon.includes('fa ') ? data.icon : ('fa ' + data.icon),
                    authority: data.authority,
                    href: data.href,
                    target: data.target,
                    type: data.type,
                    sort: data.sort
                }),
                success: function(response) {
                    if (response.code === web_status.SUCCESS){
                        layer.msg(response.msg,  {icon: 1})
                        layer.close(addOrUpdatePageIndex);
                        title = $("input[name='title']").val().trim()
                        treeTable.reload('menu-table', {
                            where: {
                                "title": title
                            }
                        })
                        renderTreeSelect()
                    }else {
                        layer.msg(response.msg,  {icon: 5})
                    }
                },
                error: function(xhr, status, error) {
                    layer.msg("网络异常",  {icon: 5})
                }
            })

        })

        cancelBtn.click(() => {
            layer.close(addOrUpdatePageIndex);
        })

        function deleteRow(id) {
            deleteBatch([id])
        }

        function deleteBatch(ids) {
            layer.confirm('确定删除此菜单吗？', {
                btn: ['确定', '关闭']
            }, function(){
                $.ajax({
                    url: '/api/menu/delete',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({
                        keys: ids
                    }),
                    success: function(response) {
                        if (response.code === web_status.SUCCESS){
                            layer.msg(response.msg,  {icon: 1});
                            title = $("input[name='title']").val().trim();
                            treeTable.reload('menu-table', {
                                where: {
                                    "title": title
                                }
                            })
                            renderTreeSelect()
                        }else {
                            layer.msg(response.msg,  {icon: 5});
                        }
                    },
                    error: function(xhr, status, error) {
                        layer.msg(xhr.responseJson,  {icon: 5});
                    }
                })
            }, function(){
            })
        }

    });
</script>
</body>
</html>